html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

:root{
    --color-primario: #1E90FF;
    --color-secundario: #FFD700;
    --color-fondo: #F5F5F5;
    --color-texto: #333333;
}